.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50wh;
}

.wrapper h3 {
  text-align: center;
}

.wrapper form {
  border: 1px solid #666666;
  padding: 0 20px;
  border-radius: 5px;
}